@charset "utf-8";
/* CSS Document */

/* 列表页开始 */
.model_list_box{
	border: 1px solid #ebebeb;
	border-radius: 5px;
	background: #fff;
	/* padding-bottom: 10px; */
	margin-top: 10px;
}
.model_list_nr{
	overflow: hidden;
}
.model_list_yi{
	background: #127de1;
	font-size: 18px;
	color: #fff;
	line-height: 40px;
	padding-left: 2.5%;
	border-radius: 5px;
	/* border-top-left-radius: 5px;
	border-top-right-radius: 5px; */
}
.model_list_er{
	font-size: 18px;
	color: #000;
	line-height: 40px;
	/* padding-left: 10px; */
	margin-left: 2.5%;
	border-bottom: 1px solid #127de1;
}
.model_list_nr ul li{
	font-size: 16px;
	color: #333;
	padding: 10px 0;
	margin-left: 4%;
	line-height: 19px;
	cursor: pointer;
	border-bottom: 1px solid #ebebeb;
}
.model_list_nr ul li:last-child{
	border: none;
}
.model_list_nr ul li:first-child{
	padding-top: 10px;
}
.model_xx{
	display: none;
}
/* .model_xx.on{
	display: block;
} */
/* 列表页结束 */

@media (max-width:800px) {
    .container {
        width: 94%;
    }
}
@media (max-width:640px) {
    
    }
@media (max-width:450px) {
    
}
@media (max-width:320px) {
    

}